.cardRelatorios{
    max-width: 100%;
}

.titleCardRelatorio{
    color: blueviolet;
    justify-content: center;
    font-size: 25px;
 }
    
.descriptionCardRelatorio{
justify-content: center;
font-size: 15 px;
margin: 10px;
 }
    