h2{
    /* font-style: —--;
    font-size: —--; */
    justify-content: center;
 }
    
img{
width: 70%;
}
    
p{
justify-content: center;
/* font-style: —--;
font-size: —-; */
 }
    