.CardEquipe{
    width: 40%;
    border-radius: 5px;
    display: block;
    padding: 10px;
    margin: 15px;
    justify-content: center;
    text-align: center;
}

.CardImage{
    border-radius: 50%;
    max-width: 50%;
    text-align: center;
}

.Texto{
    display: block;
    margin: 0;
    padding: 0%;
    max-width: 100%;
}

.nome{
    color: blueviolet;
    text-align: center;
    padding: 5px;
    margin: 5px;
}

.profissao{
    color: green;
    text-align: center;
}

.descricao{
    color: grey;
    text-align: center;
}

.iconeGithub{
    border-radius: 50%;
    background-color: rgb(150, 115, 182);
    color: aliceblue;
    margin-top: 10px;
}