.CardCardapio{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0px;    
    margin-left: 40px;
    background-color: black;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100%;
    line-height: normal;
}

.imghamburguer{
    width: 80%;
    margin: 5px;
}

.nomeHamburguer{
color: rgb(79, 155, 79);
background-color: black;
font-size: 20px;
margin: 10px 5px;
}

.ingredientes{
    color: aliceblue;
    background-color: black;
    font-size: 12px;
    margin: 5px;
}
.preco{
    color: grey;
    font-size: 15px;
}
