.headerContainer{
    display: flex;
    background-color: #000000;
    justify-content: space-between;
    width: 1350px;
    max-height: 100px;
}

.headerRight{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    max-width: 60%;
}

.logo{
    width: 10%;
    height: 90%;
    justify-content: center;
}

.headerNav{
    display: flex;
   
}

h2{
    color: orangered;
    padding: 10px;
    font-size: 20px;
    justify-content: left;
    margin: 1.5rem;
}


