
.main{
    display: flex;
}

.gestorMain{
    display: block;
    text-align: center;
    justify-content: center;
    margin-left: 400px;
    max-width: 100%;
}

.nomeSessao{
    text-align: center;
    margin-top: 30px;
    color: rgb(57, 57, 57); 
}

.subtitle{
    color: blueviolet;
    text-align: center;
}

.icon{
    color: orangered;
    text-align: center;
    max-width: 100%;
}

.card{
    border: solid 2px orangered;
    border-radius: 4px;
    margin-top: 30px;
    width: 500px;
    height: 350px;
}

